.head {
	width: 157px;
	height: 32px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	margin: auto;
	line-height: 132.9%;
	letter-spacing: 0.15em;
	color: #453e80;
	margin-top: 50px;
	margin-bottom: 30px;
}
.subhead {
	width: 265px;
	height: 48px;
	margin-top: 50px;
	padding-bottom: 8rem;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 132.9%;
	margin: auto;

	color: #000000;
}
.h5tag {
	width: max-content;
	height: 27px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 132.9%;
	text-align: center;
	margin-bottom: 1.7rem;
	padding-top: 1rem;
	color: #000000;
}
.ptag {
	width: 233px;
	height: 99px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.8rem;
	color: #4b5563;
}
.home {
	max-width: 100rem;
	margin-left: auto;
	margin-right: auto;
}
.flex{
	display: flex;
	justify-content:space-between;
	padding-left: 12rem;
	padding-right: 12rem;
}

@media only screen and (min-width: 950px) and (max-width: 1300px){
	.flex{
		padding-left: 6rem;
		padding-right: 6rem;
	}
}
@media only screen and (max-width: 949px){
	.flex{
		flex-direction: column;
		justify-content:center;
		text-align:center;
		align-items:center;
		padding-left: 6rem;
	padding-right: 6rem;
	}
}