html,
body {
	padding: 0 auto;
	background: #eff1f7;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}
input:not(:placeholder-shown) {
	border: 3px solid #24d43b;
}
input:focus:placeholder-shown {
	border: 3px solid #eb6832;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
