.navBg {
	background: #fff;
	height: 102px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.hm {
	width: 170px;
	height: 46px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 34px;
	line-height: 46px;
	text-align: center;
	letter-spacing: -0.05em;

	color: #453e80;
}
.btn {
	width: 120px;
	height: 50px;
	color: #fff;
	background: #eb682c;
	border-radius: 5px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 18px;
	font-weight: 600;
}
.li {
	list-style: none;
	width: 50px;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 20px;
}
.li:active,
.li:hover {
	list-style: none;
	width: 50px;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid #eb682c;
}
.ul {
	display: flex;
}
.fa {
	display: none;
	/* position: relative; */
}


@media only screen and (max-width: 768px) {
	.fa {
		display: block;
		cursor: pointer;
		position: relative;
	}
	.hide {
		display: none;
	}
	.ul {
		display: block;
	}
	.hbg{
		background: #fff;
		padding: 3rem;
		position: absolute;
		width: 100%;
		left: 0px;
	}
	.li{
		margin: 20px;
	}
}

@media only screen and (min-width: 769px){
	.hide {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.hbg{
		display: none;
	}
}