.shrt {
	background: #6f5cb6;
	margin-top: 50px;
	height: 10rem;
	max-width: 80rem;
	padding: 3rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.adjust {
	color: #eb6832;
	margin-left: 6rem;
	text-align: left;
}
.input {
	width: 852px;
	height: 63.5px;
	padding: 18px 32px;
	border-radius: 10px;
	outline: none;
}
.data {
	background: #fff;
	margin-top: 30px;
	height: 6rem;
	max-width: 80rem;
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}
.btn {
	color: #fff;
	background: #eb6832;
	padding: 18px 24px;
	border-radius: 10px;
	width: 142.25px;
	height: 63.5px;
	margin-left: 1rem;
	font-weight: 600;
	font-size: 18px;
	outline: 0 !important;
}
.btn2 {
	color: #fff;
	background: #eb6832;
	padding: 8px 24px;
	border-radius: 10px;
	width: 142.25px;
	margin-left: 1rem;
	font-weight: 600;
	font-size: 18px;
	outline: none;
	margin-top: -0.5rem;
}
.btn:focus {
	border-color: #eb6832;
}
.loader {
	border: 8px solid #f3f3f3;
	outline: 0 !important;
	border-radius: 50%;
	padding: 18px 24px;
	border-top: 8px solid #eb6832;
	border-bottom: 8px solid #eb6832;
	width: 63.5px;
	height: 63.5px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	margin-left: 15px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media only screen and (max-width: 440px) {
	.input {
		max-width: 150px;
	}
	.shrt{
		padding: 3rem 0.5rem;
	}
}

@media only screen and (min-width: 441px) and (max-width: 767px) {
	.input {
		max-width: 250px;
	}
	.shrt{
		padding: 3rem 0.5rem;
	}
}
@media only screen and (min-width: 769px) and (max-width: 899px) {
	.input {
		max-width: 400px;
	}
}
@media only screen and (min-width: 900px) and (max-width: 1121px) {
	.input {
		max-width: 600px;
	}
}
@media only screen and (max-width: 766px){
	.data{
		display: block;
		height: 10rem;
	}
}