.home {
	background: #6f5cb6;
	height: 40rem;
}
.title {
	max-width: 650px;
	max-height: 146px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bolder;
	font-size: 55px;
	line-height: 132.9%;
	color: #ffffff;
}
.btn {
	width: 120px;
	height: 50px;
	color: #fff;
	background: #eb682c;
	border-radius: 5px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 18px;
	font-weight: bold;
	font-size: 26px;
	border: none;
}
.pad {
	padding-top: 90px;
	padding-left: 135px;
}
.desc {
	font-size: 21px;
	width: 30rem;
	padding-top: 1rem;
	line-height: 2.2rem;
	color: #f2f2f2;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.img {
	height: 500px;
	width: 500px;
}
@media only screen and (max-width: 768px) {
	.title {
		max-width: 650px;
		max-height: 146px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bolder;
		font-size: 20px;
		line-height: 132.9%;
		color: #ffffff;
	}
	.pad {
		padding-top: 90px;
		padding-left: 35px;
	}
	.flex {
		display: block;
	}
	.img{
		height: 300px;
		width: 300px;
		margin: auto;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1300px) {
	.title {
		max-width: 650px;
		max-height: 146px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bolder;
		font-size: 40px;
		line-height: 132.9%;
		color: #ffffff;
	}
	.pad {
		padding-top: 90px;
		padding-left: 85px;
	}
	.img{
		height: 400px;
		width: 400px;
		margin: auto;
	}
}
